{% extends 'base.html' %}

{% block title %} {{ item.name }} {% endblock %}

{% block content %}
<div class="container px-5 mt-3">
    <div class="col-md-4">
        <h1 class="display-5 fw-bolder">{{ item.name }}</h1>
        <div class="fs-5 mb-5">
            <span>Price: ${{ item.price }}</span>
        </div>
        <p class="lead">{{ item.description }}</p>
        <form class="d-flex" action='{% url "order_add" item.id %}' method="POST">
            {% csrf_token %}
            {{ order_form }}
            <button type="submit" class="btn btn-primary">Add to order</button>
        </form>
    </div>
</div>
{% endblock %}